pytest==6.2.4
pip==21.2.3
torch==1.9.0
setuptools==57.4.0
numpy~=1.21.1
colorama==0.4.4
termcolor==1.1.0
py==1.10.0
toml==0.10.2
attrs==21.2.0
pluggy==0.13.1
iniconfig==1.1.1
atomicwrites==1.4.0
pyparsing==2.4.7
zipp==3.5.0
pandas==1.0.2
matplotlib==3.2.0